<div class="header">
	
	<div class="hero-text-box">
		<h1>Connect and explore different cuisines.<br>
		Or simply enjoy a meal together and share your stories.</h1>
		
		<%= link_to "Get Started", new_user_registration_path,
		class: "btn btn-large waves-effect waves-light" %>
	</div>
</div>