<%= render 'pages/header' %>
<section class="section-features">
	<div class="row">
		<h2>Meet new people, enjoy new food </h2>
		<p class="long-text">We love to discover different type of cuisines, and we hesitate to try as we are not familiar with the food culture. With Food Buddy, you can connect and meet new people to share your experience while simply enjoying a meal together.</p>
	</div>
	<div class="row">
		<div class="col s12 m3 box">
			<i class="ion-android-restaurant icon-big"></i>
			<h3>Search restaurant</h3>
			<p>Explore restaurants and discover new food cuisines in your area.</p>
		</div>
		<div class="col s12 m3 box">
			<i class="ion-plus-round icon-big"></i>
			<h3>Join or Create Events</h3>
			<p>Meet people sharing similar interests and begin to make new friends.</p>
		</div>
		<div class="col s12 m3 box">
			<i class="ion-chatbubble icon-big"></i>
			<h3>Messaging</h3>
			<p>Easy communication with other people looking for food recommendations.</p>
		</div>
		<div class="col s12 m3 box">
			<i class="ion-gear-b icon-big"></i>
			<h3>Profile Management</h3>
			<p>Keep a list of different exquisite food you have tried or will try later.</p>
		</div>
	</div>
</section>