<footer class="page-footer teal lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Food Buddy</h5>
        <p class="grey-text text-lighten-4">Connect and explore different cuisines.</p>
        <p class="grey-text text-lighten-4">MEET NEW PEOPLE, ENJOY NEW FOOD</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Quick Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Upcoming Events</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Past Events</a></li>
        </ul>
        <br>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 FoodBuddy
    <a class="grey-text text-lighten-4 right" href="#!">Created by Team Softneers</a>
    </div>
  </div>
</footer>